.video__iframes {
  display: flex;
  justify-content: center;
  bottom: -50px;
  list-style-type: none;
  position: static;
  top: 50px;
  margin-bottom: -50px;
  margin-top: 50px;
  border: 0 none;
  padding: 0;
}
