.feynman__link{
  position: absolute;
  margin-top: 20%;
  line-height: 51px;
  font-size: 36px;
  right: 48px;
  font-style: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: background-color 2s linear 0s;
}

.feynman__link:hover{
  opacity: 0.8;
}
