@import url('./_place/logo_place_header.css');
@import url('./_place/logo_place_footer.css');

.logo {
  width: 154px;
  height: 31px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  margin: auto;
  background-position: center;
}
